@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

:root {
    --laranja-claro: #b51212;
    --vermelho: #e22400;
}

body {
    font-size: 1.25rem; 
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #ffffff;
}

section {
    padding-bottom: 5rem;
}

.nav-link {
    color: var(--vermelho);
    font-weight: 600;
}

/* Fundo da seção inicial */
.inicio-fundo {
    background-image: url('img/4965007.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 80px;
    width: 100%;
    height: 606px;
    padding: 40px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Imagem ao lado direito */
.img-inicio {
    width: 90%;
    max-width: 450px;
    height: auto;
    border-radius: 20px;
    margin-right: 20px;
}

/* Posicionamento do conteúdo esquerdo */
.esquerda-conteudo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

/* Botão de início */
.botao-inicio {
    background-color: var(--laranja-claro);
    border-radius: 30px;
    border: none;
    width: 14em;
    height: 3em;
    align-content: center;
    color: white;
    font-weight: bold;
}

/* Título principal */
.display-4 {
    text-shadow: -5px 5px var(--laranja-claro);
}

/* Configuração da seção Sertanejo */
#sertanejo .container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

h2 {
    font-family: 'Lemon', serif;
    font-size: 5rem;
    font-style: normal;
    color: var(--vermelho);
}

/* Galeria */
#galeria {
    background-color: #ffe2d6;
}

.fundo-galeria {
    background: url('img/flor-bottom-direita.png') bottom right no-repeat;
    background-size: 180px 180px;
}

/* Contato */
#contato {
    background-image: url('img/4965007.jpg');
    background-size: cover;
    padding: 6rem 0;
}

.formulario {
    background-color: #ebebeb;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 134, 72, 0.1);
    font-weight: bold;
}

.formulario button {
    background-color: #ff4015;
    border: none;
    font-weight: bold;
}

/* Campo do formulário */
.form-control {
    background-color: #999999;
}

/* Logo secundário */
.logo-secundario {
    display: block;
    margin-top: 10px;
}

/* Estilos do menu de acessibilidade */
.menu-acessibilidade {
    display: flex;
    gap: 10px;
}

.menu-acessibilidade button {
    background-color: var(--vermelho);
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.menu-acessibilidade button:hover {
    background-color: #b51212;
}


/* Garante que todos os textos do site respondam ao aumento de fonte */
body, h1, h2, h3, h4, h5, h6, p, a, li, label, input, textarea, button {
    font-size: 1rem;
}

